body::before {
  display: block;
  content: "";
  height: 60px;
}

.showcase {
  background-image: linear-gradient(45deg, white, #0000FF);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.showcase-h1 {
  font-size: 60px;
}

.loginbasket-btn {
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-weight: 500;
}

.modal-footer {
  border: 0;
  margin-top: -20px;
}

.signup-btn,
.card-btn {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-weight: 500;
}

.card-btn {
  background-color: blue;
  color: white;
  padding: 10px 50px;
}

.card {
  padding: 15px;
}

.card-header {
  background-color: salmon;
  color: white;
}

.card-body {
  background-color: white !important;
  color: black !important;
}

.small-h1 {
  font-size: 20px;
}

.popout {
  transition: transform .7s; /* Animation */
  margin: 0 auto;
}

.card-btn:hover {
  background-color: darkblue;
  color: white;
}

.popout:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 1);
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }

  .showcase-h1 {
    font-size: 100px;
  }
}
